* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html, body {
	height: 100%;
}


#bg-body {
	background-color: #141414; 
	color: white; 
	min-height: 100%;
	width:100%;
}



#brand:hover,
#brand:active {
	background-color: #F1FAEE;
	color: #04243B;
	border: 3px solid #04243B; 
}

#navbar {
	/*background-color: #3C456A;*/
	background-color: #04243B; /*blue*/
}

.navbar-brand {
	height:50px; 
	width:50px;
	border: 3px solid white;
	border-radius: 10px;
	text-align: center;
}


















#footer-bar {
	height: 60px;
	margin-top: 50px;
	padding-top: 20px;
	margin-bottom: 0;
	padding-bottom: 0;
	background-color:#04243B; /*blue*/
}

.footer {
	margin:0;
	text-align: center;
}