* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#contact-jumbotron {
	background-color: #141414; /*off black*/
	height: 90vh;
	border-radius: 0; /*to remove the round corners*/
}

#contact-landing {
	color: #f2f2f2; /*off white*/
	font-size: 10vw;
	padding-top: 20vh;
	letter-spacing: 10px;
}


#bg-body {
	background-color: #344454; /*grayblue*/ 
	color: white; 
	height: 100%;
	width:100%;
}

#container-large {
	width: 100%;
}

.container {
	width: 100%;
	text-align: center;
}

#brand:hover,
#brand:active {
	background-color: #F1FAEE;
	color: #442C64;
	border: 3px solid #442C64; 
}

#navbar {
/*	background-color: #AB2B35*/
	background-color: #442C64; /*purple*/
}

.navbar-brand {
	height:50px; 
	width:50px;
	border: 3px solid white;
	border-radius: 10px;
	text-align: center;
}

#banner {
	height: 100px;
	width: 100%;
	margin: 50px auto;
	text-align: center;
}

#contact-details {
	margin: 50px auto; 
}

.cols {
	margin-top: 20px;
}

#banner {
	height: 100px;
	width: 100%;
	margin: 50px auto;
	text-align: center;
}

#footer-bar {
	height: 60px;
	margin-top: 50px;
	padding-top: 20px;
	margin-bottom: 0;
	padding-bottom: 0;
	background-color: #442C64; /*purple*/
}

.footer {
	margin:0;
	text-align: center;
}