* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

#bg-body {
	background-image: url("../../../assets/img/backgrounds/bg-black.jpg");
	background-color: #344454; 
	background-position: center; 
	background-repeat: repeat-y; 
	/*background-size: cover;*/
}

#bricks-jumbotron {
	background-image: url("../../../assets/img/backgrounds/bg-brick.jpg");
	background-color: black; 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover;
	height: 90vh;
	border-radius: 0; 
}

#bricks-landing {
	color: #f2f2f2; /*off white*/
	text-shadow: 5px 5px 20px gray; 

	font-size: 10vw;
	padding-top: 20vh;
	letter-spacing: 10px;
}


#bg-body {
	background-color: #344454; /*grayblue*/ 
	color: white; 
	height: 100%;
	width:100%;
}

#container-large {
	width: 100%;
}

#brand:hover,
#brand:active {
	background-color: #F1FAEE;
	color: #5C0404;
	border: 3px solid #5C0404; 
}

#navbar {
/*	background-color: #AB2B35*/
	background-color: #5C0404 ; /*red*/
}

.navbar-brand {
	height:50px; 
	width:50px;
	border: 3px solid white;
	border-radius: 10px;
	text-align: center;
}

#banner {
	height: 100px;
	width: 100%;
	margin: 50px auto;
	text-align: center;
}

.card-deck {
	width: 100%;
}

.card-body {
	margin:0 auto;
	width: 100%;
}






#footer-bar {
	height: 60px;
	margin-top: 50px;
	padding-top: 20px;
	margin-bottom: 0;
	padding-bottom: 0;
	background-color:#5C0404 ; /*red*/
}

.footer {
	margin:0;
	text-align: center;
}