* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

#trix-jumbotron {
	background-image: url("../../../assets/img/backgrounds/bg-evo.jpg");
	background-color: #344454; 
	background-position: center; 
	background-repeat: repeat-y; 
	background-size: cover;
	height: 90vh;
	border-radius: 0; /*to remove the round corners*/
}

#trix-landing {
	color: #f2f2f2; /*off white*/
	text-shadow: 5px 5px 20px black; 
	font-size: 5vw;
	padding-top: 20vh;
	letter-spacing: 10px;
}

#trix-comma {
	color: #f2f2f2; /*off white*/
	font-size: 3em;
	padding-top: 20vh;
	letter-spacing: 10px;
}

#trix-name {
	color: #f2f2f2; /*off white*/
	text-shadow: 5px 5px 20px black; 
	font-size: 10vw;
	padding-top: 0;
	letter-spacing: 10px;
}




#bg-body {
	background-image: url("../../../assets/img/backgrounds/bg-gray.jpg");
	background-color: #344454; 
	background-position: center; 
	background-repeat: repeat-y; 
	/*background-size: cover;*/
	 
	color: white; 
	height: 100%;
	width:100%;
}

#container-large {
	width: 100%;
}

#brand:hover,
#brand:active {
	background-color: #F1FAEE;
	color: #547153;
	border: 3px solid #547153; 
}

#navbar {
	/*background-color: #8FB78D;*/
	background-color: #547153; /*green*/
}

.navbar-brand {
	height:50px; 
	width:50px;
	border: 3px solid white;
	border-radius: 10px;
	text-align: center;
}

#banner {
	height: 100px;
	width: 100%;
	margin: 50px auto;
	text-align: center;
}







#img-about {
	height: 250px;
	width: 250px;
	border: 3px solid #141414;
	border-radius: 50%;
}

#about-body {
	background-color: #f2f2f2;
	color: #141414;
}

#about-content {
	letter-spacing: 1px;
}








#socialMedia {
	margin: 20px auto;
	text-align: center;
}

#socialMedia-row {
	width: 100px;
}

#facebook-icon,
#ig-icon,
#twitter-icon,
#youtube-icon {
	color: #F1FAEE;
}


#facebook-icon:hover,
#facebook-icon:active {
	color: #3B5998;
}

#ig-icon:hover,
#ig-icon:active {
	color: #833AB4;
}

#twitter-icon:hover,
#twitter-icon:active {
	color: #1DA1F2;
}

#youtube-icon:hover,
#youtube-icon:active {
	color: #CC181E;
}



#footer-bar {
	height: 60px;
	margin-top: 50px;
	padding-top: 20px;
	margin-bottom: 0;
	padding-bottom: 0;
	background-color:#547153; /*green*/
}

.footer {
	margin:0;
	text-align: center;
}