* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#bg-body {
	background-color: #344454; /*grayblue*/ 
	color: white; 
	height: 100%;
	width:100%;
}

#container {
	background-color: yellow;
}

#navbar {

	background-color: #BC3C14; /*dark orange*/
}

.navbar-brand {
	height:50px; 
	width:50px;
	border: 3px solid white;
	border-radius: 10px;
	text-align: center;
}

.container {
	height: 100%;
	width: 100%;
}

.row-1, 
.row-2, 
.row-3 {
	background-color: gray;

}

.row-4 {
	background-color: indianred;

}

.row {
	height: 300px;
	margin:25px;
	padding: 10px;
	text-align: center;
}




#colBricks {
	background-color: #5C0404; /*red*/
	border-radius: 15px;
}

#colTrix {
	background-color: #547153; /*green*/
	border-radius: 15px;
}

#colStories {
	background-color: #04243B; /*blue*/
	border-radius: 15px;
}

hr {
	background-color:white;
}