* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Press Start 2P', cursive;

	/*font-family: 'VT323', monospace;*/
	/*font-family: 'Montserrat', sans-serif;*/
}

#landingPage {
	margin: 0 auto;
/*	background-image: url("../assets/img/bg1.jpg")*/

}

#bg-body {
	background-image: url("../img/backgrounds/bg-retro.jpg");
	background-color: #141414; 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover;
	color: white; 
	height: 100%;
	width:100%;
}

.container-fluid {
	background-image: url("bg-gray.jpg");
	background-color: #141414; 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover; 
}

#container-large {
	width: 100%;
}




.row{
	margin:0 auto;
}

.cols {
	margin:0 auto;
}

.buttonMain {
	position: relative;
}

.buttonHead{
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translateY(-50%);
	transform: translateX(-50%);

}

strong {
	max-height: 350px;
}

#btnB:hover,
#btnB:active {
	background-color:#5C0404; /*red*/
}

#btnT:hover, 
#btnT:active {
	background-color: #547153; /*green*/
}

#btnS:hover, 
#btnS:active {
	background-color: #04243B; /*blue*/
}




#txtB,
#txtT,
#txtS {
	font-size: 1vw;
	color: #778193;
/*	padding-left: 10%;*/
	letter-spacing: 1vw;
	align-content: center;
	text-align: center;
	vertical-align: bottom;

}



#btnB,
#btnT,
#btnS {

	margin: 10vh auto ;
	padding: 0;
	color: #E4ECFC; /*white*/
	/*color: white; */

	background-color: #1C1C1C;
	font-size: 15vw;
	text-align: center;

	height: 80vh;
	width: 25vw;
	max-width: 100%;
	/*border: 10px solid #E4ECFC;*/
	border-radius: 15px;
}


#b-head,
#t-head,
#s-head {
	content: auto 0;
	padding: auto 0;
	vertical-align: 20%;
}

.jumbotron {
	max-height: 900px;
	margin-top: 50px;
	text-align: center;
}



/*#bricks-head,
#trix-head,
#stories-head {
	color: white;
	font-size: 500px;
	text-align: center;
	margin-bottom: 0px;
}*/

.lead {
	text-align: center;
	font-size: 200px;
	color:gray;
}





/*Animations*/

#b-head {
  -webkit-animation-duration: 5s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
}

#t-head {
  -webkit-animation-duration: 5s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-iteration-count: 1;
}

#s-head {
  -webkit-animation-duration: 5s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
}

.fadeInUp {
  -webkit-animation-duration: 5s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: 1;
}


/*
.animated {
   -webkit-animation-duration: 15s;
   animation-duration: 15s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
}*/







