* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
		font-family: 'Press Start 2P', cursive;

}

#gallery-jumbotron {
	background-image: url("../../../../assets/img/backgrounds/bg-retro.jpg");
	background-color: #141414; 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover;
	height: 90vh;
	border-radius: 0; /*to remove the round corners*/
}

#gallery-landing {
	color: #f2f2f2; /*off white*/
	text-shadow: 5px 5px 20px black; 
	font-size: 10vw;
	padding-top: 20vh;
	letter-spacing: 10px;
}


#bg-body {
	background-image: url("../../../../assets/img/backgrounds/bg-black.jpg");
	background-color: #344454; 
	background-position: center; 
	background-repeat: repeat-y; 
	/*background-size: cover;*/
	color: white; 
	height: 100%;
	width:100%;
}

/*div > div > div > div > div > h5{
	font-size: 25px;
} 
div > div > div > div > div > p {
	font-size: 10px;
}*/



#container-large {
	width: 100%;
}

#brand:hover,
#brand:active {
	background-color: #F1FAEE;
	color: #5C0404;
	border: 3px solid #5C0404; 
}

#navbar {
/*	background-color: #AB2B35*/
	background-color: #5C0404 ; /*red*/
}

.navbar-brand {
	height:50px; 
	width:80px;
	border: 3px solid white;
	border-radius: 10px;
	text-align: center;
}

ul > li > a {
/*	font-family: 'VT323', monospace;*/
	font-size: 10px ;
	padding-right: 10px;
}


#banner {
	height: 100px;
	width: 100%;
	margin: 50px auto;
	text-align: center;
}

.gallery-img {
	max-height: 100%; 
	max-width: 100%;
}

.img-btn {
	max-height: 300px;
	max-width: 300px;
	background-color: black;
}

.cols{
	margin: 20px auto;
	text-align: center;

}


.card {
	max-height: 300px;
	width: 100%;
}









/*Centers Modal*/
.modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  @media(max-width: 768px) {
    min-height: calc(100vh - 20px);
  }
}


#footer-bar {
	height: 60px;
	margin-top: 50px;
	padding-top: 20px;
	margin-bottom: 0;
	padding-bottom: 0;
	background-color:#5C0404 ; /*red*/
	font-size: 10px;
}

.footer {
	margin:0;
	text-align: center;
}






/*lightbox*/