* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Press Start 2P', cursive;
	/*font-family: 'VT323', monospace;*/
}

#stories-jumbotron {
	background-image: url("../../../assets/img/backgrounds/bg-qwerty.jpg");
	background-color: #141414; 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover;
	height: 90vh;
	border-radius: 0; /*to remove the round corners*/
}

#stories-landing {
	color: #f2f2f2; /*off white*/
	text-shadow: 5px 5px 20px #141414;
	/*font-family: 'VT323', monospace; */
	font-size: 10vw;
	padding-top: 20vh;
	letter-spacing: 10px;
}


#bg-body {
	background-image: url("../../../assets/img/backgrounds/bg-black.jpg");
	background-color: #344454; 
	background-position: center; 
	background-repeat: repeat-y; 
	/*background-size: cover;*/
	color: white; 
	min-height: 100%;
	width:100%;
}

#container-large {
	width: 100%;
}

#brand:hover,
#brand:active {
	background-color: #F1FAEE;
	color: #04243B;
	border: 3px solid #04243B; 
}

ul > li > a {
	/*font-family: 'VT323', monospace;*/
	font-size: 10px ;
	padding-right: 10px;
}

#navbar {
	/*background-color: #3C456A;*/
	background-color: #04243B; /*blue*/
}

.navbar-brand {
	height:50px; 
	width:80px;
	border: 3px solid white;
	border-radius: 10px;
	text-align: center;
}

#banner {
	height: 100px;
	width: 100%;
	margin: 50px auto;
	text-align: center;
}

.carousel {
	max-height: 300px;
}


.card {
	border-radius: 0;
	background-color: #f2f2f2;
	color:#141414;
}

div > div > div > h5 > strong,
div > div > div > p,
div > div > div > a {
	font-family: 'Montserrat', sans-serif;

}

.card-img-top {
	width: 100%;
	/*max-height: 280px;*/
}

.btn-banner {
	height: 100%;
	width: 100%;
}

.btn-read {
	margin: 0 auto;
	justify-content: middle;
}

.banner-div {
	letter-spacing: 1vw;
}

.banner-line {
	background-color: #f2f2f2;
}

#footer-bar {
	height: 60px;
	margin-top: 50px;
	padding-top: 20px;
	margin-bottom: 0;
	padding-bottom: 0;
	background-color:#04243B; /*blue*/
	font-size: 10px;
}

.footer {
	margin:0;
	text-align: center;
}